@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: handelson;
    src: url(Font/handelson-1704333943-0/zhandelson-three.otf) format("opentype");
}


a{
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

header {
    background-image: url(/images/MT\ Best\ Banks\ Web\ Banner\ \(5\).jpg);
    min-height: 95vh;
}

.container {
    margin: 0 auto;
    width: 90%;
    min-width: 400px;
}












/* Header */



.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
}

.main-header img {
    display: block;
    width: 250px;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    gap: 1.3rem;
    align-items: center;
    color: #fff;
}

.mobile-menu .hamburger {
    font-size: 1.4rem;
    cursor: pointer;
    padding: 3px;
    margin-right: 1rem;
}

.mobile-menu .search {
    font-weight: normal;
    cursor: pointer;
}

.mobile-menu .search span{
    display: none;
}

.mobile-menu button {
    padding: .8rem 1.6rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.mobile-menu button:hover {
    background-color: #00467A;
    border: 2px solid #00467A;
    /* transform: rotateX(360); */
}











/*********** Navigation Section ***********/




.main-nav{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #00539a;
    color: #fff;
}

.main-nav > ul {
    padding-bottom: 2.5rem;
}

li.main-list > a{
    display: block;
    font-size: 22px;
    padding: 15px;
    font-weight: bold;
}

.sub-list {
    background-color: #00467a;
    padding-left: 2rem;
    display: none;
}

ul.sub-list li a {
    display: block;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

.sub-list2 {
    padding-left: 2rem;
    display: none;
}

ul.sub-list2 li a {
    display: block;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
}

ul.sub-list2 li a:hover {
    text-decoration: underline;
}

.main-list:hover > .sub-list {
    display: block;
}

ul.sub-list li:hover > .sub-list2 {
    display: block;
}










/*********** Header Content ***********/



.header-content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 3.7rem;
    font-family: "oswald";
    font-weight: bolder;
    margin: 1rem 0;
    line-height: 4.3rem;
}

.horizontal-bar {
    display: inline-block;
    width: 80px;
    height: 0.2rem;
    background-color: #fff;
}

.header-content p {
    font-family: handelson;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #fff;
    margin: 1.5rem 0;
}

.header-content a {
    display: inline-block;
    text-decoration: none;
    padding: .9rem 1.7rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    margin: 1rem 0;
    transition: all ease-in-out .5s;
}

.header-content a:hover {
    background-color: #fff;
    color: #00539a;
}















/*********** Section -1 ***********/




.section-1 {
    /* background-image: url(images/quick-access.png); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-con-1 {
    padding: 2.5rem 0;
}

.section-1 h2 {
    font-family: "oswald";
    text-transform: uppercase;
    color: #00539a;
    font-size: 2rem;
    text-align: center;
    line-height: 2.4rem;
    margin: 1rem 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.section-1 p {
    color: #00539a;
    font-size: 3.1rem;
    font-family: handelson;
    text-align: center;
    line-height: 3rem;
    margin: 1rem 0;
}

.drop-down {
    text-align: center;
}

.drop-down a {
    display: inline-block;
    color: #000;
}

.drop-down i {
    cursor: pointer;
    padding: .4rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 24px;
}














/************* Section-2 **************/





.section-2 {
    position: relative;
}

.section-con-2 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section-con-2 .img-wrapper{
    display: flex;
    overflow: hidden;
    width: 75%;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.image {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 90vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 50, 0.5);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .3rem;

}

#prev {
    left: 1.5rem;
}

#next {
    right: 1.5rem;
}

.image-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    width: 52%;
    white-space: wrap;
}

.image-text-content img{
    width: 4rem;
}

.image-text-content .sm-horizontal-bar {
    width: 25%;
    height: 0.15rem;
    background-color: #fff;
    display: inline-block;
    margin: 2rem 0;
}

.image:hover > .image-text-content .sm-horizontal-bar{
    background-color: #37AF65;
}

.image:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

.image-text-content a {
    text-decoration: underline;
    transition: all ease-in-out 2s;
}

.image-text-content a:hover {
    text-decoration: none;
}

.image-text-content p{
    font-size: 1.5rem;
    font-weight: bold;
}




/*********** Section-3 ***********/



.section-3 {
    background-image: url(images/wood-texture-blue.jpg);
    height: 22rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

}

.section-con-3 h2{
    color: #fff;
    font-family: "oswald";
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section-con-3 p {
    font-family: handelson;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.section-con-3 a {
    display: inline-block;
    text-decoration: none;
    padding: .9rem 1.7rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.section-con-3 a:hover {
    background-color: #fff;
    color: #00539a;
}




/************ Section-4 ************/


.section-4 {
    background-color: #fff;
    height: 15rem;
    position: relative;
    display: flex;
    align-items: center;
}

.section-con-4{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.section-con-4 .icons{
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icons img {
    display: inline-block;
    width: 4rem;
}

.icons p {
    color: #064388;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;
}

.icons p:hover {
    text-decoration: none;
    color: #000;
}

#prev-icon, #next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .3rem;

}

#prev-icon {
    left: 1.5rem;
}

#next-icon {
    right: 1.5rem;
}





/*********** Section-5 ***********/


.section-5 {
    background-image: url(images/largesub-commercial-loans.jpg);
    background-color: rgba(0, 35, 112, 0.7);
    background-blend-mode: overlay;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

}

.section-con-5 h2{
    color: #fff;
    font-family: "oswald";
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section-con-5 p {
    font-family: "Roboto";
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.7rem;
}

.section-con-5 a {
    display: inline-block;
    text-decoration: none;
    padding: .9rem 1.7rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.section-con-5 a:hover {
    background-color: #fff;
    color: #00539a;
}



/* Section-6 */



.section-6 {
    background-image: url(images/testimonial-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-con-6 {
    text-align: center;
    margin: 2rem auto;
}

.section-con-6 h2{
    color: #00539a;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: oswald;
    letter-spacing: 1px;
}

.section-con-6 p {
    font-family: "Roboto";
    font-size: 1.4rem;
    margin: 1rem 0;
    line-height: 2rem;
}

.sub-section-con-6 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {
    padding: 1rem 0;
    width: 85%;
    display: flex;
    overflow: hidden;
    word-wrap: nowrap;
    scroll-snap-type: x mandatory;
}

.testimonial {
    flex: 0 0 100%;
    scroll-snap-align: start;
    background-color: #fff;
    text-align: center;
    border: 2px solid #00f;
    box-shadow: 0 0 6px 5px rgba(0, 0, 255, 0.7);
    margin: 1rem;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.testimonial img {
    border-radius: 50%;
    margin: 2rem 0 0.5rem;
    width: 50%;
}

.testimonial p {
    margin-top: 1rem;
    padding: 0 3rem;
    font-size: 1.45rem;
    line-height: 2rem;
    font-family: "Roboto";
    font-style: italic;
}

.testimonial p span {
    font-style: normal;
    display: inline-block;
}

#prev-testimonial, #next-testimonial {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .3rem;

}

#prev-testimonial {
    left: 0;
}

#next-testimonial {
    right: 0;
}




