@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
    font-size: 16px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: handelson;
    src: url(Font/handelson-1704333943-0/zhandelson-three.otf) format("opentype");
}


a{
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

header {
    background-image: url(images/MT\ Best\ Banks\ Web\ Banner\ \(5\).jpg);
    min-height: 95vh;
}

.container {
    margin: 0 auto;
    width: 90%;
    /* min-width: 400px; */
}

/* Header */

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.main-header img {
    display: block;
    /* width: 250px; */
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    color: #fff;
}

.mobile-menu .hamburger {
    font-size: 1.4rem;
    cursor: pointer;
    padding: 3px;
    margin-right: 1rem;
}

.mobile-menu .search {
    font-weight: normal;
    cursor: pointer;
}

.mobile-menu .search span{
    display: none;
}

.mobile-menu button {
    padding: .8rem 1.6rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.mobile-menu button:hover {
    background-color: #00467A;
    border: 2px solid #00467A;
    /* transform: rotateX(360); */
}











/*********** Navigation Section ***********/




.main-nav{
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #00539a;
    color: #fff;
    pointer-events:visibleStroke;
}

.show_menu {
    left: 0;
}

.main-nav > ul {
    padding-bottom: 2.5rem;
}

li.main-list{
    /* position: relative; */
    display: flex;
    font-size: 22px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

.arrows {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
}

li.main-list i {
    position: absolute;
    inset: 0;
}

li.main-list i.fa-arrow-up {
    opacity: 0;
}

.sub-list {
    background-color: #00467a;
    padding-left: 2rem;
    display: none;
}

/* .show-sub-list {
    display: block;
} */

.show-sub-list .sub-list {
    display: block;
}

ul.sub-list li a {
    display: block;
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
}

.sub-list2 {
    padding-left: 2rem;
    display: none;
}

ul.sub-list2 li a {
    display: block;
    font-size: 16px;
    padding: 12px;
    font-weight: bold;
}

ul.sub-list2 li a:hover {
    text-decoration: underline;
}

.close-nav {
    position: absolute;
    top: 0.7rem;
    right: 1.4rem;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 3px;
    transition: transform .4s;
}

.close-nav:hover {
    transform: rotate(180deg);
}

/* .main-list:hover > .sub-list {
    display: block;
} */

/* ul.sub-list li:hover > .sub-list2 {
    display: block;
} */


/*********** Header Content ***********/


.header-content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 3.7rem;
    font-family: "oswald";
    font-weight: bolder;
    margin: 1rem 0;
    line-height: 4.3rem;
}

.horizontal-bar {
    display: inline-block;
    width: 80px;
    height: 0.2rem;
    background-color: #fff;
}

.header-content p {
    font-family: handelson;
    font-size: 1.5rem;
    line-height: 1.9rem;
    /* width: 50%; */
    color: #fff;
    margin: 1.5rem 0;
}

.header-content a {
    display: inline-block;
    text-decoration: none;
    padding: .9rem 1.7rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    margin: 1rem 0;
    transition: all ease-in-out .5s;
}

.header-content a:hover {
    background-color: #fff;
    color: #00539a;
}


/*********** Section -1 ***********/


.section-1 {
    /* background-image: url(images/quick-access.png); */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-con-1 {
    padding-block: 2.5rem;
}

.section-1 h2 {
    font-family: "oswald";
    text-transform: uppercase;
    color: #00539a;
    font-size: 2rem;
    text-align: center;
    line-height: 2.4rem;
    margin: 1rem 0;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.section-1 p {
    color: #00539a;
    font-size: 3.1rem;
    font-family: handelson;
    text-align: center;
    line-height: 3rem;
    margin: 1rem 0;
}

.drop-down {
    text-align: center;
}

.drop-down a {
    display: inline-block;
    color: #000;
}

.drop-down i {
    cursor: pointer;
    padding: .4rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
}


/************* Section-2 **************/


.section-2 {
    position: relative;
}

.section-con-2 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section-con-2 .img-wrapper{
    display: flex;
    overflow: hidden;
    width: 75%;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.image {
    flex: 0 0 100%;
    scroll-snap-align: start;
    height: 90vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 50, 0.5);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: all .6s;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .3rem;
}

#prev {
    left: 1rem;
}

#next {
    right: 1rem;
}

.image-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    width: 52%;
    white-space: wrap;
}

.image-text-content img{
    width: 4rem;
}

.image-text-content .sm-horizontal-bar {
    width: 25%;
    height: 0.15rem;
    background-color: #fff;
    display: inline-block;
    margin: 2rem 0;
}

.image:hover > .image-text-content .sm-horizontal-bar{
    background-color: #37AF65;
}

.image:hover {
    background-color: rgba(0, 0, 255, 0.7);
}

.image-text-content a {
    text-decoration: underline;
    transition: all ease-in-out 2s;
}

.image-text-content a:hover {
    text-decoration: none;
}

.image-text-content p{
    font-size: 1.5rem;
    font-weight: bold;
}


/*********** Section-3 ***********/


.section-3 {
    background-image: url(images/wood-texture-blue.jpg);
    height: 22rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.section-con-3 h2{
    color: #fff;
    font-family: "oswald";
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section-con-3 p {
    font-family: handelson;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.section-con-3 a {
    display: inline-block;
    text-decoration: none;
    padding: .9rem 1.7rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.section-con-3 a:hover {
    background-color: #fff;
    color: #00539a;
}


/************ Section-4 ************/


.section-4 {
    background-color: #fff;
    height: 18rem;
    position: relative;
    display: flex;
    align-items: center;
}

.section-con-4{
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 100%;
}

.section-con-4 .icons{
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icons img {
    display: inline-block;
    width: 4rem;
}

.icons p {
    color: #064388;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
}

.icons p:hover {
    text-decoration: none;
    color: #000;
}

#prev-icon, #next-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .3rem;

}

#prev-icon {
    left: 1.5rem;
}

#next-icon {
    right: 1.5rem;
}


/*********** Section-5 ***********/


.section-5 {
    background-image: url(images/largesub-commercial-loans.jpg);
    background-color: rgba(0, 35, 112, 0.7);
    background-blend-mode: overlay;
    height: 89vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.section-con-5 h2{
    color: #fff;
    font-family: "oswald";
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section-con-5 p {
    font-family: "Roboto";
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.7rem;
}

.section-con-5 a {
    display: inline-block;
    text-decoration: none;
    padding: .9rem 1.7rem;
    background-color: #00539a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease-in-out .5s;
}

.section-con-5 a:hover {
    background-color: #fff;
    color: #00539a;
}


/* Section-6 */


.section-6 {
    background-image: url(images/testimonial-bg.png);
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.section-con-6 {
    text-align: center;
    margin-block: 2rem;
}

.section-con-6 h2{
    color: #00539a;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: oswald;
    letter-spacing: 1px;
}

.section-con-6 p {
    font-family: "Roboto";
    font-size: 1.4rem;
    margin-block: 1rem;
    line-height: 2rem;
}

.sub-section-con-6 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials {
    padding: 1rem 0;
    width: 80%;
    display: flex;
    overflow: hidden;
    word-wrap: nowrap;
    scroll-snap-type: x mandatory;
}

.testimonial {
    flex: 0 0 100%;
    /* width: 90%; */
    scroll-snap-align: start;
    background-color: #fff;
    text-align: center;
    border: 2px solid #00f;
    box-shadow: 0 0 6px 5px rgba(0, 0, 255, 0.7);
    margin: 1rem;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.testimonial img {
    border-radius: 50%;
    margin-block: 2rem 0.5rem;
    width: 50%;
}

.testimonial p {
    margin-top: 1rem;
    padding: 0 1.3rem;
    font-size: 1.45rem;
    line-height: 2rem;
    font-family: "Roboto";
    font-style: italic;
}

.testimonial p span {
    font-style: normal;
    display: inline-block;
}

#prev-testimonial, #next-testimonial {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: .3rem;

}

#prev-testimonial {
    left: 0;
}

#next-testimonial {
    right: 0;
}





/*********** Section-7 ***********/



.section-7{
    background-image: url(images/parallax-bg.jpg);
    background-position: center;
    background-color: rgba(0, 35, 112, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding-block: 2rem;
    background-size: cover;
}

.section-con-7 {
    text-align: center;
    margin-bottom: 2rem;
}

.section-con-7 h2{
    text-transform: uppercase;
    color: #fff;
    font-family: oswald;
    letter-spacing: 1px;
    font-size: 2rem;
}

.section-con-7 p {
    color: #fff;
    font-family: "Roboto";
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.section-con-7 a {
    text-decoration: underline;
}

.section-con-7 a:hover {
    text-decoration: none;
    color: #000;
}

.navigation {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.statistics {
    width: 73%;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow: hidden;
}

.statistics .non-profits {
    text-align: center;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.statistics .non-profits h2 {
    color: #fff;
    font-size: 2.5rem;
    font-family: handelson;
}

.statistics .non-profits .horizontal-bar {
    width: 3rem;
}

.statistics .non-profits p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: "Roboto";
    color: #fff;
    line-height: 2rem;
}

#prev-stat, #next-stat {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    padding: .3rem;

}

#prev-stat {
    left: 0;
}

#next-stat {
    right: 0;
}




/* Footer */


.footer {
    margin: 6rem 0;
}

.footer-sec-1 {

}

.footer-sec-1 .links {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 1rem;
    row-gap: .5rem;
    padding: 0 3rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.8rem;
}

.footer-sec-1 .links a {
    color: #00539a;
    font-weight: bold;
    font-family: "Roboto";
    text-decoration: underline;
    font-size: 1rem;
    padding-right: .6rem;
}

.footer-sec-1 .links a:hover {
    color: #000;
    text-decoration: none;
}

.footer-sec-1 .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.footer-sec-1 .icons i {
    font-size: 1.6rem;
    display: inline-block;
    color: #00539a;
    transition: all ease-out 1s;
}

.footer-sec-1 .icons i:hover {
    font-size: 1.8rem;
}






/* Media Screens */

@media screen and (min-width: 800px) {
    .section-con-2 .img-wrapper {
        width: 60%;
    }
}
@media screen and (min-width: 1000px) {
    .section-con-2 .img-wrapper {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        /* width: 85%; */
        padding-inline: 4rem;
    }
    
    /* Header */
    .main-header {
        flex-direction: row;
        padding-top: 2rem;
    }

    .mobile-menu .hamburger {
        font-size: 1.7rem;
    }

    .mobile-menu .search {
        color: whitesmoke;
    }

    .mobile-menu .search i {
        font-size: 1.3rem;
    }

    .mobile-menu .search span {
        display: inline-block;
        padding-inline: 1rem;
        font-size: 1.2rem;
        font-style: italic;
    }

    .mobile-menu button {
        font-size: 1.2rem;
    }

    .main-header img {
        width: 330px;
    }

    /* Header Content */
    .header-content {
        padding-bottom: 2rem;
    }
    .header-content h1 {
        line-height: 7rem;
        font-size: 6rem;
    }

    .header-content p {
        font-size: 2.8rem;
        line-height: 2.9rem;
    }

    .header-content{
        width: 50%;
    }



    /* Section-1 */
    .section-1 {
        background-image: url(images/quick-access.png);
    }

    .section-con-1 {
        margin-block: 2rem;
    }

    .section-con-1 h2 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .section-con-1 p {
        font-size: 3.5rem;
    }

    /* Section-2 */

    .image {
        flex: 0 0 25%;
        height: 80vh;
    }

    .section-con-2 .img-wrapper {
        width: 100%;
    }

    #prev,
    #next {
        display: none;
    }

    /* Section-3 */

    .section-con-3 h2 {
        font-size: 3.5rem;
    }

    .section-con-3 p {
        font-size: 3rem;
    }

    /* Section-4 */
    
    .section-con-4 {
        width: 70%;
    }
    .section-con-4 .icons {
        flex: 0 0 20%;
    }
    #prev-icon,
    #next-icon {
        display: none;
    }

    /* Section-5 */

    .section-con-5 h2 {
        font-size: 3.3rem;
    }

    /* Section-6 */
    .section-6 {
        background-position: top;
        background-size: contain;
        padding-block: 5rem;

    }

    .section-con-6 {
        width: 60%;
    }

    .section-con-6 h2{
        font-size: 3.4rem;
    }
    
    .testimonials {
        width: 60%;
    }
    
    .testimonial{
        display: flex;  
        justify-content: space-between;
        flex-direction: row;
        /* border: none; */
        /* box-shadow: none; */
    }

    .testimonial div {
        width: 30%;
        height: 200px;
    }
    .testimonial img {
        width: 80%;
    }

    .testimonial p {
        width: 70%;
        text-align: left;
        font-size: 1.55rem;
    }

    .section-7 {
        background-attachment: fixed;
        bottom: 0;
        width: 100%;
        z-index: -1;
        /* height: 100vh; */
    }

    .section-7-inner-pad {
        
        display: flex;
        justify-content: space-between;
        /* padding-inline: 6rem; */
        padding: 3rem 10rem;
    }

    .section-con-7 {
        width: 35%;
        text-align: left;
    }

    .section-con-7 h2 {
        font-size: 3.7rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }

    .section-con-7 p {
        /* font-size: 1.2rem; */
    }

    .section-con-7 p a {
        display: inline-flex;
        flex-wrap: no-wrap;
    }

    .navigation {
        width: 65%;
        margin: 0;
    }

    .statistics {
        width: 90%;
    }

    .statistics .non-profits {
        flex: 0 0 30%;
        text-align: left;
        margin-left: 1rem;
        padding-inline: 1rem;
    }

    .statistics .non-profits h2 {
        font-size: 3rem;
    }

    #prev-stat,
    #next-stat {
        display: none;
    }

    /* Footer */
    .footer {
        padding-inline: 10rem;
    }

    .footer-sec-1 .links {
        margin-bottom: 0;
    }

    .footer-sec-1 .links a {
        font-size: 1.2rem;
    }

    .footer-sec-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
}